/_note
note.js

api_gateway/node_modules
api_gateway/.env
api_gateway/.env.test
api_gateway/db/database.dev.sqlite

crm_service/node_modules
crm_service/.env
crm_service/.env.development
crm_service/db/database.dev.sqlite
crm_service/db/csv

docs/node_modules
docs/.env.development

insta_service/node_modules
insta_service/.env

mobile/node_modules
mobile/.env

vk_service/node_modules
vk_service/.env
vk_service/db/database.dev.sqlite
vk_service/db/csv

web/node_modules
web/coverage
web/build
web/.DS_Store
web/.env
web/.env.development
web/.env.production
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
