/_note
note.js

vk_servise/node_modules
vk_servise/.env
vk_servise/db/database.dev.sqlite
vk_servise/db/csv

crm_servise/node_modules
crm_servise/.env
crm_servise/.env.development
crm_servise/db/database.dev.sqlite
crm_servise/db/csv

insta_servise/node_modules
insta_servise/.env

auth_servise/node_modules
auth_servise/.env
auth_servise/db/database.dev.sqlite

mobile_servise/node_modules
mobile_servise/.env

docs_servise/node_modules
docs_servise/.env.development

web_servise/node_modules
web_servise/coverage
web_servise/build
web_servise/.DS_Store
web_servise/.env
web_servise/.env.development
web_servise/.env.production
web_servise/.env.local
web_servise/.env.development.local
web_servise/.env.test.local
web_servise/.env.production.local
web_servise/npm-debug.log*
web_servise/yarn-debug.log*
web_servise/yarn-error.log*
