/_note
note.js

backend/node_modules
backend/.env
backend/db/database.development.sqlite
backend/db/database.test.sqlite

frontend/node_modules
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env
frontend/.env.development
frontend/.env.production
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
