{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    ["babel-polyfill"],
    ["module-resolver", {
    "root": ["./"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]
  ]
}

