body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }


// .pointer {
//   cursor: pointer;
// }

// .background-green {
//   background-color: #d2c566;
// }


// img.avatar {
//   width: 50px;
//   height: 50;
//   margin: 20px;
// }

// .down {
//   margin-top: 25px;
// }

// .user-border {
//   border: 1px solid
// }

// .color-red {
//   color: red;
// }

// .parent {
//   display: table;
// }

// .child {
//   display: table-cell;
//   vertical-align: middle;
// }


// // main
// .main img {
//   width: 470px;
//   height: 590;
// }

// .main h1 {
//   margin-top: 40px;
// }

// .main h3 {
//   margin-top: 80px;
// }

// .main button {
//   margin: auto;
//   margin-top: 100px;
//   display: block;
//   text-align: center;
//   display: block;
//   background-position: 0% 0%;
//   background-repeat: no-repeat;
//   border-width: 1px;
//   border-radius: 15px;
//   font-size: 24;
//   background-hover-color: #c46298;
//   color: #ffffff;
//   height: 72px;
//   width: 224px;
//   font-weight: lighter;
//   background-color: #b62673;
//   left: 9px;
//   font-family: 'open sans', sans-serif;
//   font-weight: lighter;
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   width: 254px;
//   height: 72px;
//   line-height: 72px;
//   color: #ffffff;
//   font-size: 24px;
// }

// // reviews
// .reviews h1 {
//   text-align: center;
//   margin-top: 50px;
//   margin-bottom: 50px;
// }

// .review img {
//   width: 359px;
//   height: 633px;
// }

// .image-gallery {
//   margin: auto;
//   display: block;
//   width: 359px;
//   height: 633px;
// }

// // offers
// .offers {
//   background-color: #d2c566;
// }

// .offers img {
//   margin-top: 25px;
// }

// .offers p {
//   margin-top: 15px;
//   margin-left: -10px;
//   margin-right: -10px;
//   color: white;
// }

// // services
// .services {
//   background-color: #f0e9ea;
// }

// .services h1 {
//   text-align: center;
//   margin-top: 50px;
//   margin-bottom: 50px;
// }

// .services .block {
//   margin: auto;
//   padding: 20px;
//   display: block;
//   border-width: 1px;
//   border-color: #cccccc;
//   border-style: none;
//   border-top: 1px solid #d1cad0;
// }

// .services .block img {
//   margin: auto;
//   display: block;
//   width: 200px;
//   height: 200px;
//   border-radius: 20px;
// }


// // contacts
// .contacts h1 {
//   text-align: center;
//   margin-top: 50px;
//   margin-bottom: 50px;
// }

// .contacts p {
//   text-align: center;
// }

// // footer
// .footer {
//   width: 400px;
//   height: 350px;
//   background-color: #f0e9ea;
//   border-radius: 40px;
//   margin: auto;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   display: block;
//   text-align: center;
//   padding: 20px;
// }

// .footer h3 {
//   margin: 20px;
//   display: block;
//   text-align: center;
// }

// .footer input {
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// .footer button {
//   margin: auto;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   display: block;
//   text-align: center;
//   display: block;
//   background-position: 0% 0%;
//   background-repeat: no-repeat;
//   border-width: 1px;
//   border-radius: 15px;
//   font-size: 24;
//   background-hover-color: #c46298;
//   color: #ffffff;
//   height: 72px;
//   width: 224px;
//   font-weight: lighter;
//   background-color: #b62673;
//   left: 9px;
//   font-family: 'open sans', sans-serif;
//   font-weight: lighter;
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   width: 254px;
//   height: 72px;
//   line-height: 72px;
//   color: #ffffff;
//   font-size: 24px;
// }

// // modal-form
// .modal-form input {
//   margin-top: 10px;
// }

// .modal-form .modal-button {
//   float: right;
// }

// .modal-form .error {
//   color: red;
//   text-align: center;
//   margin: 20px;
// }

// .modal-footer button.ok {
//   color: #ffffff;
//   background-color: #b62673;
// }

// .modal-footer button.cancel {
//   color: #ffffff;
//   background-color: #b62673;
// }


// @media only screen and (max-device-width: 768px) {
//   body {
//     color: green;
//     font-size: 26pt;
//   }
//   // .main {
//   //   width: 10px;
//   //   margin: 10px;
//   //   background-color: green;
//   // }
// }

// @media (max-width: 768px) {
//   // .navbar-toggle {
//   //     margin: 60px 0;
//   // }
//   // .main {
//   //   width: 10px;
//   //   margin: 10px;
//   //   background-color: green;
//   // }
// }


// // .reviews {
// //   background-color: black;
// // }
